{% extends "error/base.twig" %}

{% block head %}

    <meta name="keywords" content="error, 500">
    <title>Internal server error</title>

    {{ parent() }}

{% endblock %}

{% block content %}
    <h1 class="text-secondary lh-1" style="font-size: 200px">500</h1>
    <hr class="w-30px">
    <h3 class="text-uppercase">Lamento mas encontrou um erro</h3>
    <p class="lead">Por favor informe-nos do erro e como o conseguiu atingir.</p>
{% endblock %}
